html, body {  
  margin:0px;  
  height:100vh;
  overflow: hidden;
} 

.login {
  background-color: #020E27;
  width: 100%;
  height: 100vh;
}

h1 {
    color: white;
    margin: 3% auto 3% auto;
    text-align: center;
    font-size: 64px;
    font-family: 'Inter';
    font-weight: bold;
}
p {
  color: black;
  text-align: center;
}

.parent-login {
  background-color: #020E27;
  text-align: center;
}

.child-login {
  background: linear-gradient(180deg, #76F2AE 0%, #0ECCF4 100%);
  display: flex;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5%;
  height: 36vh;
}

.child-login form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.child-login form .form-control {
  width: 80%;
  border-radius: 10px;
  height: 50px;
}

.child-login form button, .child-login form a {
  background-color: #020E27;
  color: white;
  height: 45px;
  margin: 5px auto 5px auto;
  font-size: 24px;
  text-decoration: none;
}

.child-login form input[type=password], .child-login form input[type=text] {
  color: #6B6B6B;
  padding: 12px;
  margin: 15px auto 5px auto;
  font-family: 'Inter';
  font-weight: bold;
  box-shadow: 4px 4px 5px -5px #000000;
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.child-login form .button {
  font-size: 20px;
  padding: 5px;
}

p:after {
  content: " ";
  display: block;
  border-bottom: 2px solid #000000;
  width: 80%;
  margin: 10px auto;
}

.register {
  background-color: #020E27;
  width: 100%;
  height: 100vh;
}

.parent-register {
  background-color: #020E27;
  text-align: center;
}

.child-register {
  background: linear-gradient(180deg, #76F2AE 0%, #0ECCF4 100%);
  display: flex;
  width: 20%;
  margin: 15px auto auto auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5%;
  height: 43vh;
}

.child-register form input[type=text], .child-register form input[type=password] {
  color: #6B6B6B;
  padding: 12px;
  margin: 15px auto 5px auto;
  font-family: 'Inter';
  font-weight: bold;
  box-shadow: 4px 4px 5px -5px #000000;
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
}

.child-register form button {
  display: block;
  position: relative;
  background-color: #020E27;
  color: white;
  height: 45px;
  margin: 5px auto 5px auto;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
}

input[type=checkbox] {
  position: relative;
  border-radius: 3%;
  margin: 5px auto 5px auto;
  margin-top: 10px;
  padding-top: 5px;
  border: 0;
  text-align: center;
}

.label-checkbox {
  text-align: left;
}

.home {
  background-color: #020E27;
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  line-height: 2px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40%;
  height: 70%;
  padding: 0 15px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  position: absolute;
  top: 50%;
  left: 7%;
}

ul.navbar > li {
  display:inline-block; 
  padding:0 7px; 
  position:relative;
}

ul.navbar > li:not(:last-child)::after {
  content:""; 
  border:1px solid #ffffff;
  border-width: 50px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:-25px; 
  height:100%;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 5px  0;
  margin: 0 30px;
  transition: all 0.50s ease;
}

.navbar a.active {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.main {
  display: flex;
  position: absolute;
  top: 40%;
  right: 0;
}

.main a{
  margin-right: 25px;
  margin-left: 10px;
  font-size: 3rem;
  transition: all 0.50s ease;
  color: white;
}

.user {
  display: flex;
  align-items: center;
}

.logout {
  color: white;
  font-size: 0rem;
  text-decoration: none;
}

#cards {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 405px;
  top: 5%;
}


#cards .images a img {
  position: relative;
  max-width:50vw;
  max-height:35vh;
  border-radius: 15px;
  width: auto;
  height: auto;
}

#cards .images {
  display: flex;
  margin: auto;
}

#cards .images div {
  flex: 33.33%;
  padding: 15px;
}

.pagination {
  position: absolute;
  align-items: center;
  left: 50%;
  transform: translate(-50%,0);
  align-self: flex-end;
}

.pagination button {
  border: 2px solid white;
  width: 15px;
  height: 15px;
  font-weight: 100;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.pagination button:focus-within {
  border: 2px solid #0ECCF4;
  background-color: #0ECCF4;
  transition: all 0.50s ease;
}

.pagination button:not(:last-child) {margin-right: 10px;}

#bottom-main {
  display: grid;
  width: 100%;
  flex-grow: 1;
  position: relative;
  top: 7%;
  grid-template-columns: 60% 40%;
  grid-template-areas: 
    "hotsales"
    "indies";
}

#hotsales {
  display: grid;
  position: relative;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "s1"
    "s2";

  width: 100%;
  height:fit-content;

  padding-left: 2vw;
  border-right: 1px solid white;
}

#hotsales .s1 {
  font-size: 48px;
  font-family: 'Inter';
  font-weight: bold;
  color: white;
}

#hotsales .s2 {
  display: grid;
  width: 90%;
  grid-template-rows: auto auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: 
    "s3 s4 s5"
    "s6 s7 s8";
  background-color: #1C2C4E;
  max-height: 93%;
  padding: 5px;
  margin: auto;
  margin-top: 1vh;
}

#hotsales .s2 div a img {
  padding: 10px;
  width: 85%;
  height: auto;
  z-index: 1;
  position: relative;
  display: block;
  margin: auto;
}

#hotsales .s2 div #discount {
  display: table;
  position: relative;
  background: linear-gradient(180deg, #76F2AE 0%, #0ECCF4 100%);
  left: 1%;
  width: 75px;
  height: 31px;
  top: -13%;
  border-radius: 15px;
  text-align: center;
  z-index: 2;
}

#hotsales .s2 div #discount span {
  display: table-cell;
  color: black;
  vertical-align: middle;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: bold;
}

#indies {
  display: grid;
  position: relative;

  grid-template-rows: auto auto;
  grid-template-areas: 
    "i1"
    "i2";
  
  width: 100%;
  height: 30vh;
  padding-left: 2vw;
}

#indies .i1 {
  color: white;
  font-family: 'Inter';
  font-size: 48px;
  font-weight: bold;
}

.i2 {
  background-color: #1C2C4E;
  height: auto;
  padding: 10px;
  margin: auto;
  text-align: center;
  max-width: 60%;
}

#indies .i2 a img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}