html, body {  
  margin:0px;  
  height:100vh;
  overflow: hidden;
} 

.login {
  background-color: #020E27;
  width: 100%;
  height: 100vh;
}

h1 {
    color: white;
    margin: 3% auto 3% auto;
    text-align: center;
    font-size: 64px;
    font-family: 'Inter';
    font-weight: bold;
}
.child-login p {
  color: black;
  text-align: center;
}

.parent-login {
  background-color: #020E27;
  text-align: center;
}

.child-login {
  background: linear-gradient(180deg, #76F2AE 0%, #0ECCF4 100%);
  display: flex;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5%;
  height: 36vh;
}

.child-login form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.child-login form .form-control {
  width: 80%;
  border-radius: 10px;
  height: 50px;
}

.child-login form button, .child-login form a {
  background-color: #020E27;
  color: white;
  height: 45px;
  margin: 5px auto 5px auto;
  font-size: 24px;
  text-decoration: none;
}

.child-login form input[type=password], .child-login form input[type=text] {
  color: #6B6B6B;
  padding: 12px;
  margin: 15px auto 5px auto;
  font-family: 'Inter';
  font-weight: bold;
  box-shadow: 4px 4px 5px -5px #000000;
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.child-login form .button {
  font-size: 20px;
  padding: 5px;
}

.child-login p:after {
  content: " ";
  display: block;
  border-bottom: 2px solid #000000;
  width: 80%;
  margin: 10px auto;
}

.register {
  background-color: #020E27;
  width: 100%;
  height: 100vh;
}

.parent-register {
  background-color: #020E27;
  text-align: center;
}

.child-register {
  background: linear-gradient(180deg, #76F2AE 0%, #0ECCF4 100%);
  display: flex;
  width: 20%;
  margin: 15px auto auto auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5%;
  height: 43vh;
}

.child-register form input[type=text], .child-register form input[type=password] {
  color: #6B6B6B;
  padding: 12px;
  margin: 15px auto 5px auto;
  font-family: 'Inter';
  font-weight: bold;
  box-shadow: 4px 4px 5px -5px #000000;
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
}

.child-register form button {
  display: block;
  position: relative;
  background-color: #020E27;
  color: white;
  height: 45px;
  margin: 5px auto 5px auto;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
}

input[type=checkbox] {
  position: relative;
  border-radius: 3%;
  margin: 5px auto 5px auto;
  margin-top: 10px;
  padding-top: 5px;
  border: 0;
  text-align: center;
}

.label-checkbox {
  text-align: left;
}

.home {
  background-color: #020E27;
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all 0.5s ease;
  border-bottom: 1px solid white;
  line-height: 2px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40%;
  height: 70%;
  padding: 0 15px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  position: absolute;
  top: 50%;
  left: 7%;
}

ul.navbar > li {
  display:inline-block; 
  padding:0 7px; 
  position:relative;
}

ul.navbar > li:not(:last-child)::after {
  content:""; 
  border:1px solid #ffffff;
  border-width: 50px 1px 0 0;
  position:absolute; 
  right:-3px; 
  top:-25px; 
  height:100%;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: 5px  0;
  margin: 0 30px;
  transition: all 0.50s ease;
}

.navbar a.active {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.menu {
  color: white;
  height: auto;
  display: none;
  position: absolute;
  top: 10%;
}

.main {
  display: flex;
  position: absolute;
  top: 40%;
  right: 0;
}

.main a{
  margin-right: 25px;
  margin-left: 10px;
  font-size: 3rem;
  transition: all 0.50s ease;
  color: white;
}

.user {
  display: flex;
  align-items: center;
}

.logout {
  color: white;
  font-size: 0rem;
  text-decoration: none;
}

#cards {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 405px;
  top: 5%;
}


#cards .images a img {
  position: relative;
  max-width:50vw;
  max-height:35vh;
  border-radius: 15px;
  width: auto;
  height: auto;
}

#cards .images {
  display: flex;
  margin: auto;
}

#cards .images div {
  flex: 33.33%;
  padding: 15px;
}

.pagination {
  position: absolute;
  align-items: center;
  left: 50%;
  transform: translate(-50%,0);
  align-self: flex-end;
}

.pagination button {
  border: 2px solid white;
  width: 15px;
  height: 15px;
  font-weight: 100;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.pagination button:focus-within {
  border: 2px solid #0ECCF4;
  background-color: #0ECCF4;
  transition: all 0.50s ease;
}

.pagination button:not(:last-child) {margin-right: 10px;}

#bottom-main {
  display: grid;
  width: 100%;
  flex-grow: 1;
  position: relative;
  top: 7%;
  grid-template-columns: 60% 40%;
  grid-template-areas: 
    "hotsales"
    "indies";
}

#hotsales {
  display: grid;
  position: relative;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "s1"
    "s2";

  width: 100%;
  height:fit-content;

  padding-left: 2vw;
  border-right: 1px solid white;
}

#hotsales .s1 {
  font-size: 48px;
  font-family: 'Inter';
  font-weight: bold;
  color: white;
}

#hotsales .s2 {
  display: grid;
  width: 90%;
  grid-template-rows: auto auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: 
    "s3 s4 s5"
    "s6 s7 s8";
  background-color: #1C2C4E;
  max-height: 93%;
  padding: 5px;
  margin: auto;
  margin-top: 1vh;
}

#hotsales .s2 div a img {
  padding: 10px;
  width: 85%;
  height: auto;
  z-index: 1;
  position: relative;
  display: block;
  margin: auto;
}

#discount {
  display: table!important;
  position: relative!important;
  background: linear-gradient(180deg, #76F2AE 0%, #0ECCF4 100%);
  left: 1%;
  width: 75px!important;
  height: 31px!important;
  top: -13%;
  border-radius: 15px;
  text-align: center!important;
  z-index: 2;
}

#discount span {
  display: table-cell;
  color: black;
  vertical-align: middle;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: bold;
}

#indies {
  display: grid;
  position: relative;

  grid-template-rows: auto auto;
  grid-template-areas: 
    "i1"
    "i2";
  
  width: 100%;
  height: 30vh;
  padding-left: 2vw;
}

#indies .i1 {
  color: white;
  font-family: 'Inter';
  font-size: 48px;
  font-weight: bold;
}

.i2 {
  background-color: #1C2C4E;
  height: auto;
  padding: 10px;
  margin: auto;
  text-align: center;
  max-width: 60%;
  margin-top: 1vh;
}

#indies .i2 a img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.profile {
  background-color: #020E27;
  width: 100vw;
  height: 100vh;
}

#profile-body {
  margin-top: 85.31px;
  position: absolute;
  width: 100%;
  display: grid;
  height: 95%;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
    "p1 p2"
}

.p1 {
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-areas: 
    "p3"
    "p4";
  color: white;
  border-right: 1px solid white;
  text-align: center;
}

.p3 {
  width: 90%;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.p3 a {
  display: block;
  margin-top: 10%;
  color: white;
  height: fit-content;
  font-size: 10rem;
}

.p3 h1 {
  font-size: 32px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.p3 span {
  color: #76F2AE;
  font-size: 16px;
}

.p4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-size: 24px;
  height: fit-content;
}

.p4 ul li {
  margin-top: 60px;
  cursor: pointer;
}

.p2 {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "p5"
    "p6";
  color: white;
}

#recomendaciones {
  display: block;
  font-weight: bold;
}

#gamelist {
  display: block;
}

#conections {
  display: block;
}

.p2 #settings {
  display: none;
}

#d1 {
  position: relative;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "d1_1"
    "d1_2";
  height: 100%;
  width: 100%;
}

#d1 div {
  margin-top: 30px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: fit-content;
  text-align: left;
  width: 95%;
}

#d1 div h1 {
  font-family: 'Inter';
  font-size: 48px;
  text-align: left;
  font-weight: bold;
  width: 100%;
  top: 0;
  margin: 0 auto!important;
  padding-left: 2.5%;
  padding-bottom: 10px;
}

.anchor {
  font-size: 16px;
  display: block;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  cursor: pointer;
}

.d1_1 {
  position: relative;
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas: 
    "title"
    "d1_images"
    "anchor";
  height: 100%;
  width: 95%;
}

.d1_anchor {
  padding-top: 5px;
  padding-left: 2.5%;
}

.d1_2 {
  position: absolute;
  top: 80%;
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas: 
    "title"
    "d1_images"
    "anchor";
  height: 100%;
  width: 95%;
}

.title {
  position: relative;
}

.d1_images {
  display: grid!important;
  margin-left: 2.5%!important;
  border-radius: 15px;
  width: 95%!important;
  grid-template-rows: auto auto;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-areas: 
    "s3 s4 s5 s6 s7";
  background-color: #1C2C4E;
  margin-top: 0!important;
}

.d1_images div img {
  width: 85%;
  height: auto;
  z-index: 1;
  position: relative;
  display: block;
  margin: auto;
  border-radius: 15px;
}

.d1_images div #discount {
  margin: 0;
  top: -20px!important;
  left: -10px!important;
}

#d2 {
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
}

#d2 div {
  margin-top: 30px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: fit-content;
  text-align: left;
  width: 95%;
}

#d2 div h1 {
  font-family: 'Inter';
  font-size: 48px;
  text-align: left;
  font-weight: bold;
  width: 100%;
  top: 0;
  margin: 0 auto!important;
  padding-left: 2.5%;
  padding-bottom: 10px;
}

.d2_1 {
  position: relative;
  display: grid;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas: 
    "title"
    "d2_images"
    "anchor";
  height: 100%;
  width: 95%;
}

.d2_images {
  width: 90%;
  display: grid!important;
  margin-top: 0!important;
  grid-template-rows: auto auto;
  grid-template-columns: 25% 25% 25% 25%;
  grid-area: "s1 s2 s3 s4"
  "s5 s6 s7 s8";
}

.d2_images div img {
  width: 85%;
  height: auto;
  z-index: 1;
  position: relative;
  display: block;
  margin: auto;
  border-radius: 15px;
}

.d2_1 a {
  left: 0;
  margin-top: 10px;
}

#d4 {
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
}

#d4 div {
  margin-top: 30px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: fit-content;
  text-align: left;
  border-bottom: 1px solid white;
  width: 95%;
  cursor: pointer;
}

#d4 .d4_1 {
  border: 0;
}

#d4 div h1 {
  position: relative;
  margin: auto;
  padding-top: -10px;
  width: 100%;

  font-size: 36px;
  text-align: left;
  font-family: 'Inter';
  font-weight: 100;
}

#d4 div:first-child h1 {
  font-size: 48px;
  font-weight: bold;
}

#d4 div:not(:first-child) {
  margin-top: 80px;
}

#d4 div p {
  color: white;
  font-size: 18px;
  line-height: 36px;
  padding-bottom: 10px;
}