<!DOCTYPE html>
<html lang="es">

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Game Deals - Registro</title>
</head>

<body>
<div class="register">
    <div class="parent-register">
        <img src="{{url_for('static', filename='logo3.png')}}" alt='logo'>
        <div class="child-register">
            <form method="POST" action="/register">
                <input type="text" name="username" class="form-control" placeholder="Usuario">
                <input type="text" name="email" class="form-control" placeholder="Correo Electrónico">
                <input type="password" name="password" class="form-control" placeholder="Contraseña">
                <input type="password" name="confirm-password" class="form-control" placeholder="Confirmar Contraseña">
                <br>
                <input type="checkbox" name="terms"> <label>He leído y estoy de acuerdo con los </label><a href="#">Términos y Condiciones.<a>
                <button type="submit" class="button">Crear Cuenta</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>