<!DOCTYPE html>
<html lang="es">

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/61ebb60581.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <script defer href= "{{ url_for('static',filename='index.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Game Deals</title>

    <script>
        function openMenu(){
            elem = document.getElementById("menu");

            if(elem.style.display === "block"){
                elem.style.display = "none";
            }
            else {
                elem.style.display = "block";
            }
        }
    </script>

    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style: none;  
        }
        body {
            text-decoration: none;
            list-style: none;
            min-height: 100vh;
        }
    </style>

</head>

<body>
  <div class="home">
    Welcome {{ current_user.username }}!
    <header>
        <a href="#" class=logo><img src="{{ url_for('static',filename='logo3.png') }}"/></a>

        <ul class="navbar">
            <li><a href="/home">Página Principal</a></li>
            <li><a href="/catalog">Catálogo</a></li>
            <li><a href="/community">Comunidad</a></li>
        </ul>

        <div class="main">
            <a href="/profile" class="user" onclick="openMenu()"><i class="ri-user-fill"></i></a>
        </div>
    </header>

    <div class="community-container">
      <div class="review">
        <header>
            <a href="#" class=logo><img src="{{ url_for('static',filename='logo3.png') }}"/></a>

            <ul class="navbar">
                <li><a href="/home" class="active">Página Principal</a></li>
                <li><a href="/catalog">Catálogo</a></li>
                <li><a href="/community">Comunidad</a></li>
                <li><a href="#" class="active">Reviews</a></li>
            </ul>

            <div class="main">
                <a href="/profile" class="user" onclick="openMenu()"><i class="ri-user-fill"></i></a>
            </div>
        </header>
        <h1>Reviews</h1>
        <form action="database.db">
            <label id="label-r" for="review-select">Seleccione un juego:</label>

            <select name="s-review" id="review-select">
                <option value="">--Juegos--</option>
                <option value="Destiny">Destiny</option>
                <option value="FFXVI">FF XVI</option>
                <option value="Zelda">Zelda BOTW</option>
                <option value="Uncharted">Uncharted</option>
                <option value="Payday2">Payday2</option>
                <option value="Valorant">Valorant</option>
            </select>
            
        </form>
        
            <h1 id="order">Coloque su reseña</h1>
            <textarea>Coloque su reseña:</textarea>
        
        <input type="submit" id="botaan" value="Subir" id="botaan">
    </div>
  </div>

    <a href="/logout" class="logout">Cerrar Sesión</a>
</body>

</html>
